$primarycolor: rgb(210, 49, 24);

*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
}

header{
    background-color: rgb(88, 2, 2);
    
}

header>.container>h1{
    padding-top: 20px;
}

header>.container>h1>a{
    color:$primarycolor;
    
}


.container{
    margin: auto;
    width: 80%;
    max-width: 1140px;
    // background-color: orange;
    
}

header>.container>nav>ul{
    display: flex;
    
    // justify-content: space-between;
}

header>.container>nav>ul>li{
    margin-right: 30px;
    
}

header>.container>nav>ul>li>a{
    line-height: 60px;
    color: $primarycolor;
    font-size: 1.2em;
    letter-spacing: 2px;
    border-radius: 10px;
}

header>.container>nav>ul>li>a:hover{
    background-color: rgba(61, 28, 8, 0.804);
    color: white;
    border-radius: 10px;
}

// =============================
// 內容區塊
// =============================


//**** text patterns
.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}

.txt-justify{
    text-align: justify;
}

.txt-footer-xxsmall{
    font-size: 10px;
}

//*** images patterns
.img-fluid{
    width:100%;
    display: block;
}

.img-rounded{
    border-radius: 8px;
}

.img-circle{
    border-radius: 100%;
}

// *** block patters 區塊相關樣式

.row{
    display: flex;
    flex-wrap: wrap;
    // force to go to a new line
    
}

// *** 5欄式
.col-5{
    width: calc(100% / 5 - 30px);
    margin: 0 15px 40px 15px;;
}

// *** 4 columns 4欄式
.col-4{
    width: calc(100% / 3 - 30px);
    margin: 0 15px 40px 15px;
    // 上右下左
    // calc 計算數一定要有空格
}

// *** 3 columns 3欄式
.col-3{
    width: calc(100% / 4 - 30px);
    margin: 0 15px 40px 15px;
    // 上右下左
}

// *** 2 columns 2欄式
.col-2{
    width: calc(100% / 2 - 30px);
    margin: 0 15px 40px 15px;
    // 上右下左
}



.col-4:hover img{
    clear: both;
    width: 300px;
    height: 300px;
    transform: scale(1.5);
    overflow: hidden;
}

.title a{
    color: black;
    font-size: 1.5em;
    // default font size: 16px 
    font-weight: 700;
}

.description{
    color: $primarycolor;
}

footer{
    background-color: $primarycolor;
    padding: 40px 0 40px 0;
}

dt{
    font-size: 1.2em;
}

dd{
    margin-bottom: 4px;
}

dd>a{
    color: brown;
}