@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

header {
  background-color: #580202;
}

header > .container > h1 {
  padding-top: 20px;
}

header > .container > h1 > a {
  color: #d23118;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1140px;
}

header > .container > nav > ul {
  display: flex;
}

header > .container > nav > ul > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  line-height: 60px;
  color: #d23118;
  font-size: 1.2em;
  letter-spacing: 2px;
  border-radius: 10px;
}

header > .container > nav > ul > li > a:hover {
  background-color: rgba(61, 28, 8, 0.804);
  color: white;
  border-radius: 10px;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-justify {
  text-align: justify;
}

.txt-footer-xxsmall {
  font-size: 10px;
}

.img-fluid {
  width: 100%;
  display: block;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-5 {
  width: calc(100% / 5 - 30px);
  margin: 0 15px 40px 15px;
}

.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0 15px 40px 15px;
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 0 15px 40px 15px;
}

.col-2 {
  width: calc(100% / 2 - 30px);
  margin: 0 15px 40px 15px;
}

.col-4:hover img {
  clear: both;
  width: 300px;
  height: 300px;
  transform: scale(1.12);
  overflow: hidden;
}

.title a {
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

.description {
  color: #d23118;
}

footer {
  background-color: #d23118;
  padding: 40px 0 40px 0;
}

dt {
  font-size: 1.2em;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: brown;
}

.btn {
  height: 180px;
  width: 190px;
  color: white;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

ul.dropdown-menu {
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
}

ul.dropdown-menu li {
  position: relative;
  white-space: nowrap;
  float: left;
  background-color: #735454;
  margin-left: 1%;
}

ul.dropdown-menu a {
  background-color: brown;
  color: #333;
  display: block;
  padding: 0 30px;
  text-decoration: none;
  line-height: 40px;
}

ul.dropdown-menu a:hover {
  /* 滑鼠滑入按鈕變色*/
  background-color: #ef5c28;
  color: #fff;
}

ul.dropdown-menu li:hover > a {
  /* 滑鼠移入次選單上層按鈕保持變色*/
  background-color: #ef5c28;
  color: #fff;
}