doctype html
html(lang='zh_Hant')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Chin's Profolio | 首頁
    link(rel='stylesheet' href='public/css/styles.css')
  body
    // header>.container>h1{Chin's Portfolio}+nav>ul>li*4>a[href="#"]{文}
    header
      .container
        .row.flex-space-between
            h1
              a(href='index.html') Chin's Portfolio
            a.icon-menu(href='index.html') menu
            nav
              ul
                li
                  a(href='about-us_.html') 關於我
                li
                  a(href='#') 學習歷程
                  ul.submenu
                    li
                      a(href="learning.html") 學習1 
                    li
                      a(href="learning.html") 學習2
                li
                  a(href='#') 網頁設計作品
                  ul.submenu
                    li
                      a(href="design_list.html") 設計1 
                    li
                      a(href="design_list.html") 設計2
                li
                  a(href='#') 聯絡我
    // ---header end---
    img.img-fluid(src='https://placekitten.com/1920/500' alt='')
    // content start
    // .container>h1{最新作品一覽}+.row>.col-md-4*6>img.img-fluid+p.title>a[href="#"]{標題$}^p.description
    .container
      h2.fz-3.mb-3.txt-center 最新作品一覽
      .row
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://www.stevensegallery.com/300/300' alt='')
          p.title.txt-center
            a(href='#') 標題1
          p.description.txt-center 2022-06-15
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://placebear.com/300/300' alt='')
          p.title.txt-center
            a(href='#') 標題2
          p.description.txt-center 2022-06-15
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://picsum.photos/300/300' alt='')
          p.title.txt-center
            a(href='#') 標題3
          p.description.txt-center 2022-06-15
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='http://placeimg.com/300/300/any' alt='')
          p.title.txt-center
            a(href='#') 標題4
          p.description.txt-center 2022-06-15
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://placekitten.com/300/300' alt='')
          p.title.txt-center
            a(href='#') 標題5
          p.description.txt-center 2022-06-15
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://loremflickr.com/300/300' alt='')
          p.title.txt-center
            a(href='#') 標題6
          p.description.txt-center 2022-06-15
    // content end
    // footer start
    // footer>.container>.row>dl.col-3*4>dt{標題}+dd*4>a[href]{項目$}^^^p.copyright-center{copyright}
    footer
      .container
        .row
          dl.col-5
            dt 標題
            dd
              a(href='') 項目1
            dd
              a(href='') 項目2
            dd
              a(href='') 項目3
            dd
              a(href='') 項目4
          dl.col-5
            dt 標題
            dd
              a(href='') 項目1
            dd
              a(href='') 項目2
            dd
              a(href='') 項目3
            dd
              a(href='') 項目4
          dl.col-5
            dt 標題
            dd
              a(href='') 項目1
            dd
              a(href='') 項目2
            dd
              a(href='') 項目3
            dd
              a(href='') 項目4
          dl.col-5
            dt 標題
            dd
              a(href='') 項目1
            dd
              a(href='') 項目2
            dd
              a(href='') 項目3
            dd
              a(href='') 項目4
          dl.col-5
            dt 標題
            dd
              a(href='') 項目1
            dd
              a(href='') 項目2
            dd
              a(href='') 項目3
            dd
              a(href='') 項目4
        p.copyright-center.txt-center Copyright 2022 © Chin Fang Chen 
        p.copyright-center.txt-center.txt-footer-xxsmall 僅供個人學習目的無商業用途使用 
    // footer end
