doctype html
html(lang='zh-Hant')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Chin's Profolio | 學習歷程
		link(rel='stylesheet' href='public/css/styles.css')
	body
		// header>.container>h1{Chin's Portfolio}+nav>ul>li*4>a[href="#"]{文}
        header
			.container
                .row.flex-space-between
                    h1
                        a(href='index.html') Chin's Portfolio
                        a.icon-menu(href='index.html') menu 
                        nav
                            ul
                                li
                                    a(href='about.html') 關於我
                                li
                                    a(href='learning.html') 學習歷程
                                li
                                    a(href='design_list.html') 網頁設計作品
                                li
                                    a(href='contact.html') 聯絡我
		// ---header end---
		// layer[1] container
		.container
			// layer[2] breadcrumb
			.row
				ul.col-12.breadcrumb
					li
						a(href='index.html') 首頁
						|  > 
						a(href='design_list.html') 學習歷程
				// layer[3] aside + main
				aside.col-12.col-md-3.col-lg-2
					ul
						li
							a.btn-primary(href='#') HTML/CSS
						li
							a.btn-primary(href='#') 繪圖軟體
						li
							a.btn-primary(href='#') UXUI
						li
							a.btn-primary(href='#') SCSS/PUG
						li
							a.btn-primary(href='#') 其他
						li
							a.btn(href='#') test
				main.col-9
					// .row>.col-4*6>img.img-fluid+a{作品$}
					.row
						// work start
						.col-12.col-md4.txt-center
							a.img-wrap(href='#')
								.img-overlay
									img.img-fluid.img-rounded(src='https://placekitten.com/200/200' alt='')
									span.icon-new.txt-center.img-border NEW
							p.title.txt-center
								a(href='#') 標題1*
							p.description.txt-center 2022-06-15
						// work end
						// work start
						.col-12.col-md4.txt-center
							a.img-wrap(href='#')
								.img-overlay
									img.img-fluid.img-rounded(src='https://placekitten.com/200/200' alt='')
									span.icon-new.txt-center.img-border NEW
							p.title.txt-center
								a(href='#') 標題1*
							p.description.txt-center 2022-06-15
						// work end
						// work start
						.col-12.col-md4.txt-center
							a.img-wrap(href='#')
								.img-overlay
									img.img-fluid.img-rounded(src='https://placekitten.com/200/200' alt='')
									span.icon-new.txt-center.img-border NEW
							p.title.txt-center
								a(href='#') 標題1*
							p.description.txt-center 2022-06-15
						// work end
						// work start
						.col-12.col-md4.txt-center
							a.img-wrap(href='#')
								.img-overlay
									img.img-fluid.img-rounded(src='https://placekitten.com/200/200' alt='')
									span.icon-new.txt-center.img-border NEW
							p.title.txt-center
								a(href='#') 標題1*
							p.description.txt-center 2022-06-15
						// work end
						// work start
						.col-12.col-md4.txt-center
							a.img-wrap(href='#')
								.img-overlay
									img.img-fluid.img-rounded(src='https://placekitten.com/200/200' alt='')
									span.icon-new.txt-center.img-border NEW
							p.title.txt-center
								a(href='#') 標題1*
							p.description.txt-center 2022-06-15
						// work end
						// work start
						.col-12.col-md4.txt-center
							a.img-wrap(href='#')
								.img-overlay
									img.img-fluid.img-rounded(src='https://placekitten.com/200/200' alt='')
									span.icon-new.txt-center.img-border NEW
							p.title.txt-center
								a(href='#') 標題1*
							p.description.txt-center 2022-06-15
						// work end
						// work start
						.col-12.col-md4.txt-center
							a.img-wrap(href='#')
								.img-overlay
									img.img-fluid.img-rounded(src='https://placekitten.com/200/200' alt='')
									span.icon-new.txt-center.img-border NEW
							p.title.txt-center
								a(href='#') 標題1*
							p.description.txt-center 2022-06-15
						// work end
						// footer start
						// footer>.container>.row>dl.col-3*4>dt{標題}+dd*4>a[href]{項目$}^^^p.copyright-center{copyright}
						footer
							.container
								.row
									dl.col-5
										dt 標題
										dd
											a(href='') 項目1
										dd
											a(href='') 項目2
										dd
											a(href='') 項目3
										dd
											a(href='') 項目4
									dl.col-5
										dt 標題
										dd
											a(href='') 項目1
										dd
											a(href='') 項目2
										dd
											a(href='') 項目3
										dd
											a(href='') 項目4
									dl.col-5
										dt 標題
										dd
											a(href='') 項目1
										dd
											a(href='') 項目2
										dd
											a(href='') 項目3
										dd
											a(href='') 項目4
									dl.col-5
										dt 標題
										dd
											a(href='') 項目1
										dd
											a(href='') 項目2
										dd
											a(href='') 項目3
										dd
											a(href='') 項目4
									dl.col-5
										dt 標題
										dd
											a(href='') 項目1
										dd
											a(href='') 項目2
										dd
											a(href='') 項目3
										dd
											a(href='') 項目4
								p.copyright-center.txt-center Copyright 2022 © Chin Fang Chen 
								p.copyright-center.txt-center.txt-footer-xxsmall 僅供個人學習目的無商業用途使用 
						// footer end

				